@page "/"
@namespace BlazorWebAssemblyWithPrerendering.Pages
@using BlazorWebAssemblyWithPrerendering.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor ctx

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorWebAssemblyWithPrerendering</title>
    <base href="~/" />

    <link rel="preload" as="fetch" type="application/octet-stream" crossorigin href="_framework/_bin/mscorlib.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Core.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Text.Json.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Numerics.Vectors.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.AspNetCore.Components.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Memory.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Net.Http.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.ComponentModel.Annotations.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.Extensions.DependencyInjection.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.AspNetCore.Components.Web.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Text.Encodings.Web.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.Extensions.Options.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.Extensions.Logging.Abstractions.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.AspNetCore.Blazor.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.JSInterop.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.AspNetCore.Authorization.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.Extensions.Primitives.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.AspNetCore.Components.Forms.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Threading.Tasks.Extensions.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Buffers.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.Bcl.AsyncInterfaces.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/Microsoft.AspNetCore.Blazor.HttpClient.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System.Runtime.CompilerServices.Unsafe.dll" />
    <link rel="preload" as="fetch" type="application/octet-stream" href="_framework/_bin/System..dll" />

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <cache expires-after="@TimeSpan.FromSeconds(60)" vary-by="@ctx.HttpContext.Request.Path">
        <app>
            @if (ctx.HttpContext.Request.Path.StartsWithSegments(new PathString("/counter")))
            {
                <h1>Loading app without prerendering - cached @DateTime.Now</h1>
            }
            else
            {
                @(await Html.RenderComponentAsync<App>(RenderMode.Static))
            }
        </app>
    </cache>

    <script src="_framework/blazor.webassembly.js"></script>
    <script src="jslib.js"></script>
</body>
</html>
