@page "/"
@namespace BlazorWebAssemblyWithPrerendering.Pages
@using BlazorWebAssemblyWithPrerendering.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor ctx

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorWebAssemblyWithPrerendering</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <cache expires-after="@TimeSpan.FromSeconds(60)" vary-by="@ctx.HttpContext.Request.Path">
        <app>
            @if (ctx.HttpContext.Request.Path.StartsWithSegments(new PathString("/counter")))
            {
                <h1>Loading app without prerendering - cached @DateTime.Now</h1>
            }
            else
            {
                @(await Html.RenderComponentAsync<App>(RenderMode.Static))
            }
        </app>
    </cache>

    <script src="_framework/blazor.webassembly.js"></script>
    <script src="jslib.js"></script>
</body>
</html>
