@inherits LayoutComponentBase
@inject IPrerenderingService prerendering

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (prerendering.IsPrerendering)
        {
            <text>Application is loading...</text>
        }
        else
        {
            <text>Application loaded</text>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
